[core]
  # Use custom `.gitignore`
  excludesfile = ~/.gitconfig.d/gitignore

  # Treat spaces before tabs and all kinds of trailing whitespace as an error
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space

  # Make `git rebase` safer on OS X
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false

[include]
  # Include additional configuration files
  path = ~/.gitconfig.d/alias
  path = ~/.gitconfig.d/color
